<app-tips-and-tricks-sidenav>
  <div class="flex flex-col p-6 h-full">

    <div class="flex gap-5 items-center">
      <a mat-button (click)="goBack()" class="flex-shrink-0 self-start">
        <mat-icon>arrow_back</mat-icon>
        Back to control form
      </a>
    </div>


    <details class="mb-4">
      <summary class="chevron">
        <div class="flex-0 text-2xl font-bold">Control Designer</div>
      </summary>
      <div>
        Click the 'Generate Attributes' button to receive a first draft of control attributes. Have the AI Controller make refinements by providing feedback/instructions in the respective Q&A box. When satisfied with the result or would like to make modifications of your own, create individual attribute boxes and paste in your desired output.
      </div>
    </details>


    <div class="flex gap-6 overflow-auto h-full">

      <div class="flex flex-col gap-4 flex-1 overflow-auto h-full">
        <app-array-field
          [rows]="15"
          [arrayCtrl]="form.controls.attributes"
          [defaultValue]="''"
          class="overflow-auto"
        />

        <button mat-flat-button type="button" (click)="onSubmit$.next()" class="flex-shrink-0">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>

      <mat-divider [vertical]="true" class="flex-0" />

      <div class="flex-1 flex flex-col h-full">
        <div class="flex">
          @if (shouldAllowReadWriteSystemPrompt) {
            <button type="button" mat-button (click)="state.viewSystemPrompt()" class="w-full" [disabled]="state.buffer()">
              <mat-icon>visibility</mat-icon>
              View system prompt
            </button>
          }
          <button type="button" mat-button (click)="state.clearHistory()" class="w-full button-error" [disabled]="state.buffer()">
            <mat-icon>delete_sweep</mat-icon>
            Clear history
          </button>
        </div>

        <div class="scrolling-element overflow-y-auto h-full" #scrollingElement>
          <div class="flex flex-col gap-8">
            @for (historyItem of state.history(); track historyItem) {
              @if (historyItem.type === 'model') {
                <div>
                  <div class="font-bold flex items-center gap-2">
                    <mat-icon>psychology</mat-icon>
                    AI
                  </div>
                  <div class="whitespace-pre-wrap text-sm leading-6">{{ historyItem.response[0] }}</div>
                </div>
              }
              @else if (historyItem.type === 'user') {
                <div>
                  <div class="font-bold flex items-center gap-2">
                    <mat-icon>person</mat-icon>
                    You
                  </div>
                  <div class="whitespace-pre-wrap text-sm leading-6">{{ historyItem.text }}</div>
                </div>
              }
            }
            @if (state.buffer(); as buf) {
              <div>
                <div class="font-bold flex items-center gap-2">
                  <mat-icon>person</mat-icon>
                  You
                </div>
                <div class="whitespace-pre-wrap text-sm leading-6">{{ buf.userPrompt }}</div>
              </div>
              <div>
                <div class="font-bold flex items-center gap-2">
                  <mat-icon>psychology</mat-icon>
                  AI
                </div>
                @if (buf.modelResponse.length === 0) {
                  <mat-spinner [diameter]="16" />
                } @else {
                  <div class="whitespace-pre-wrap text-sm leading-6">{{ buf.modelResponse }}</div>
                }
              </div>
            }
          </div>
          <div class="anchor flex-shrink-0"></div>
        </div>

        @if (state.buffer()) {
          <button type="button" mat-flat-button class="w-full flex-shrink-0 button-error" (click)="cancel$.next()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        } @else {
          @if (state.historyIsEmpty()) {
          <button type="button" mat-flat-button class="w-full flex-shrink-0" (click)="state.critqueRequest()">
            <mat-icon>emoji_objects</mat-icon>
            AI Generate Attributes
          </button>
          } @else {
            <div class="flex gap-2">
              <app-textarea-field
                #userInput
                class="flex-1"
                [ctrl]="form.controls.userInput"
                subscriptSizing="fixed"
                placeholder="Message the AI"
              />
              <button type="button" mat-icon-button class="flex-0" (click)="state.critqueRequest()">
                <mat-icon>emoji_objects</mat-icon>
              </button>
            </div>
          }
        }
      </div>

    </div>

  </div>

  <ng-container items>
    <li>
      The AI Controller is meant to be your helpful assistant. If you don't like the format of attributes, ask it to make changes. If you want the wording to be different for a specific attribute, tell it what you want or ask it to try again. Just be clear and concise with your requests, and the AI controller will do its best to help.
    </li>
    <li>
      If the AI Controller writes attributes that don't follow the roadmap you provided, simply ask it to try again following the roadmap you provided. You can also ask it to make new attributes, but it is best practice to include that attribute within the 'Attribute Roadmap' instead.
    </li>
    <li>
      If you have a specific format you would like to use for a control, you can give the AI Controller an example to leverage. Just be clear that the example is not information pertaining to this control and is only meant to be a template.
    </li>
  </ng-container>
</app-tips-and-tricks-sidenav>
