<div class="flex flex-col gap-4 w-full">
  <h1 class="mat-headline-large">Create a control</h1>

  <app-select-field
    label="Control Type"
    [ctrl]="form.controls.controlType"
    [options]="controlTypeOptions"
  />

  <app-array-control
    label="IPE"
    [arrayCtrl]="form.controls.ipe"
  />

  <app-select-field
    label="Frequency"
    [ctrl]="form.controls.frequency"
    [options]="frequencyOptions"
  />

  <app-array-control
    label="Judgements"
    [arrayCtrl]="form.controls.judgements"
  />

  <app-array-control
    label="Quantitative Thresholds"
    [arrayCtrl]="form.controls.quantitativeThresholds"
  />

  <app-array-control
    label="Qualitative Thresholds"
    [arrayCtrl]="form.controls.qualitativeThresholds"
  />

  <app-textarea-field
    label="Investigation and Resolution Process"
    [ctrl]="form.controls.investigationProcess"
    hint="Describe the investigation and resolution process"
  />

  <div class="border-2 p-3 rounded-md flex gap-2">
    <app-textarea-field
      label="Control description"
      hint="Please provide a detailed description of all activity occuring to achieve the objective of this control"
      [ctrl]="form.controls.description"
      class="flex-1"
    />
    <div class="flex-1">
      <button mat-stroked-button type="button" (click)="onDescriptionAiCritique$.next()">
        <mat-icon>bolt</mat-icon>
        Get AI Critique
      </button>
      <div>
        {{ llmDescriptionResponse$ | async }}
      </div>
    </div>
  </div>

  <app-array-control
    label="Control Attributes"
    [arrayCtrl]="form.controls.qualitativeThresholds"
  />

  <button mat-flat-button type="button" (click)="onSubmit$.next()">
    Submit
  </button>
</div>
